[Desktop Entry]
Name=GiroSur Clock
Name[es]=Reloj GiroSur
Comment=Analog clock that rotates counterclockwise (Giro Sur)
Comment[es]=Reloj analógico que gira en sentido antihorario (Giro Sur)
Type=Service
Icon=preferences-system-time
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/girosurclock.qml

X-Plasma-Provides=org.kde.plasma.time,org.kde.plasma.date

X-Plasma-StandAloneApp=true

X-KDE-PluginInfo-Name=org.girosur.clock
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Author=Teodoro Visaires
X-KDE-PluginInfo-Email=teovisaires@gmx.com
X-KDE-PluginInfo-License=GPL-2.0-or-later
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-FormFactors=desktop,tablet,handset,mediacenter

X-KDE-Keywords=clock;analog;time;counterclockwise;anti-clockwise;girosur;south-up;
X-KDE-Keywords[es]=reloj;analógico;hora;antihorario;girosur;sur arriba;

[X-Plasma-ConfigDialog]
InitialPage=Appearance

